include ../../components/subscribe-button/subscribe-button

section(class="subscribe")
  div(class="container")
    div(class="subscribe-wrapper")
      div(class="subscribe-text")
        h3(class="title-text") Subscribe Now for Get Special Features!
        p Let's subscribe with us and find the fun.
      +subscribe-button('#', 'Subscribe Now')