header {
  font-family: "Rubik", sans-serif;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1140px;
}

ul {
  display: flex;
  list-style-type: none;
}

.nav-block {
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-top: 50px;
}

.nav-block a {
  font-weight: 400;
}

.logo-svg {
  max-height: 37px;
}

.menu li:not(:last-child) {
  margin-right: 40px;
}

.log-in li:first-child {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #0b132a;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.menu a {
  color: #4f5665;
}

.btn {
  color: #f53855;
  border: 1px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 13px 45px;
}

section.get-started {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
}

.get-started-text {
  position: relative;
  max-width: 555px;
}

.get-started-text h2 {
  color: #0b132a;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 30px;
}

.get-started-text h2 span {
  font-weight: 700;
}

.get-started-text p {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 80px;
}

.get-started-text p span {
  font-weight: 600;
}

.get-started-text .red-btn {
  color: #ffffff;
  background-color: #f53838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 18px 78px;
}

.get-started-image img {
  position: relative;
  left: 10%;
  top: 27%;
}

.company-numbers {
  justify-content: space-around;
  margin-top: 105px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px 90px;
}

.company-numbers li {
  display: flex;
  align-items: center;
  padding: 27px 0;
}

.company-numbers li:not(:last-child) {
  border-right: 2px solid #eeeff2;
  padding-right: 130px;
}

.company-numbers div {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.company-numbers div p {
  margin: 0;
}

.company-numbers li div p:first-child {
  color: #0b132a;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.company-numbers li div p:last-child {
  color: #4f5665;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .company-numbers {
    padding: 30px 60px;
  }

  .company-numbers li:not(:last-child) {
    padding-right: 70px;
  }
}

@media (max-width: 992px) {
  .menu {
    flex-direction: column;
  }

  .menu li:not(:last-child) {
    margin-bottom: 10px;
  }

  section.get-started {
    flex-direction: column;
    text-align: center;
  }

  .get-started-image img {
    left: 0%;
    top: 0%;
    margin-top: 50px;
  }

  .company-numbers {
    padding: 20px 30px;
  }

  .company-numbers li:not(:last-child) {
    padding-right: 50px;
  }

  .company-numbers div {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .nav-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin: 30px 0;
  }

  section.get-started {
    margin-top: 70px;
  }

  .company-numbers {
    flex-direction: column;
    padding: 20px 20px;
  }

  .company-numbers li {
    margin: 20px 0;
    padding: 0;
  }

  .company-numbers li:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid #eeeff2;
    padding: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0 20px;
  }

  a {
    font-size: 14px;
  }

  .nav-block {
    align-items: center;
  }

  .get-started-text h2 {
    font-size: 35px;
  }

  .get-started-text p {
    font-size: 14px;
  }

  .get-started-image img {
    max-width: 90%;
  }
}
