header
  div(class='container')
    nav
      ul(class='nav-block')
        li(class='logo-svg')
          a(href="#")
            include ../../../../dist/img/svg/header-logo.svg
        li 
          ul(class='menu')
            li
              a(href='#') About 
            li 
              a(href='#') Features 
            li 
              a(href='#') Pricing 
            li 
              a(href='#') Testimonials 
            li 
              a(href='#') Help 
        li 
          ul(class='log-in') 
            li 
              a(href='#') Sign In 
            li 
              a(class='btn' href='#') Sign Up
    