include ../../components/link-button/link-button

header
  div(class='container')
    nav
      ul(class='nav-block')
        li(class='logo-svg')
          a(href="#")
            include ../../../img/svg/header-logo.svg
            p Lasles#[span VPN]
        li 
          ul(class='menu')
            li
              a(href='#') About 
            li 
              a(href='#') Features 
            li 
              a(href='#') Pricing 
            li 
              a(href='#') Testimonials 
            li 
              a(href='#') Help 
        li 
          ul(class='log-in') 
            li 
              a(href='#') Sign In 
            li 
              +link-button('#', 'Sign Up')
    