div(class="container")
  section(class='get-started')
    div(class='get-started-text')
      h2 Want anything to be easy with #[span LaslesVPN.]
      p Provide a network for all your needs with ease and fun using #[span LaslesVPN] discover interesting features from us.
      a(class='red-btn' href='#') Get Started
    div(class='get-started-image')
      img(src="img/get-started-image.jpg", alt="Illustration with man in the glasses")

  ul(class='company-numbers')
    li
      include ../../../../dist/img/svg/user.svg
      div
        p 90+
        p Users 
    li 
      include ../../../../dist/img/svg/location.svg
      div
        p 30+
        p Locations
    li 
      include ../../../../dist/img/svg/server.svg
      div
        p 50+
        p Servers