section.get-started
  .get-started-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 130px
    .get-started-text
      position: relative
      max-width: 555px
      h3
        font-size: 50px
        line-height: 70px
        margin-bottom: 30px
        span
          font-weight: 700
      p
        min-width: 555px
        margin-bottom: 80px
        span
          font-weight: 500
      .red-btn
        color: #ffffff
        background-color: #f53838
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        font-size: 16px
        font-weight: 400
        line-height: 25px
        padding: 18px 78px
        &:hover
          color: #f53838
          background-color: #ffffff
          border: 1px solid #f53855

@media ( max-width: 1199px )
  section.get-started
    .get-started-wrapper
      flex-direction: column
      text-align: center
      margin-top: 70px
      .get-started-image
        margin-top: 50px

@media ( max-width: 768px )
  section.get-started
    .get-started-wrapper
      .get-started-text
        h3
          font-size: 35px
          line-height: 45px

@media ( max-width: 576px )
  section.get-started
    .get-started-wrapper
      .get-started-text
        p
          font-size: 14px
          min-width: auto
