section(class='features')
  div(class="container")
    div(class="features-wrapper")
      div(class="features-image")
        picture 
          source(srcset="img/features-image.webp" type="image/webp")
          img(src="img/features-image.jpg", alt="Man in glasses")
      div(class="features-text") 
        h3(class="title-text") We Provide Many Features You Can Use
        p You can explore the features that we provide with fun and have their own functions each feature.
        ul
          li 
            include ../../../img/svg/check.svg
            p Powerfull online protection.
          li 
            include ../../../img/svg/check.svg
            p Internet without borders.
          li 
            include ../../../img/svg/check.svg
            p Supercharged VPN 
          li 
            include ../../../img/svg/check.svg
            p No specific time limits.