section.features {
    display: flex;
    justify-content: space-between;
    font-family: Rubik, sans-serif;
    color: #4f5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 95px;
}

.features-text {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 170px;
}

.features-text h3 {
    color: #0b132a;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.features-text ul {
    display: flex;
    flex-direction: column;
}

.features-text ul li {
    display: flex;
    align-items: center;
}

.features-text ul li svg {
    margin-right: 12px;
}

.features-text ul li p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 991px) {
    section.features {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .features-text {
        margin: 0;
        margin-top: 30px;
    }

    .features-text ul {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    section.features {
        margin-top: 60px;
    }

    .features-image img {
        width: 85%;
    }

    .features-text h3 {
        font-size: 25px;
    }
}
