section(class="company-numbers")
  div(class="container")
    ul(class="company-numbers-list")
      li
        include ../../../img/svg/user.svg
        div
          p 90+
          p Users 
      li 
        include ../../../img/svg/location.svg
        div
          p 30+
          p Locations
      li 
        include ../../../img/svg/server.svg
        div
          p 50+
          p Servers