section.map
  text-align: center
  margin-top: 150px
  h3
    margin-bottom: 20px
  p
    margin-bottom: 150px
  ul
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    margin-top: 112px
    li
      max-width: 190px

@media ( max-width: 767px )
  section.map
    p
      margin-bottom: 50px
    ul
      flex-direction: column
      margin-top: 30px
      li:not(:last-child)
        margin-bottom: 10px
      img
        width: 60%
