section(class="map")
  div(class="container")
    h3(class="title-text") Huge Global Network of Fast VPN
    p See LaslesVPN everywhere to make it easier for you when you move locations.
    picture
      source(srcset="img/map.webp" type="image/webp")
      img(src="img/map.png", alt="Global Servers Map")
    ul 
      li
        a(href="#")
          picture
            source(srcset="img/netflix.webp" type="image/webp")
            img(src="img/netflix.png", alt="Netflix")
      li 
        a(href="#")
          picture
            source(srcset="img/reddit.webp" type="image/webp")
            img(src="img/reddit.png", alt="Reddit")
      li
        a(href="#") 
          picture
            source(srcset="img/amazon.webp" type="image/webp")
            img(src="img/amazon.png", alt="Amazon")
      li
        a(href="#") 
          picture
            source(srcset="img/discord.webp" type="image/webp")
            img(src="img/discord.png", alt="Discord")
      li
        a(href="#")  
          picture
            source(srcset="img/spotify.webp" type="image/webp")
            img(src="img/spotify.png", alt="Spotify")
    