section(class="map")
  div(class="container")
    h3 Huge Global Network of Fast VPN
    p See LaslesVPN everywhere to make it easier for you when you move locations.
    img(src="img/map.png", alt="Global Servers Map")
    ul 
      li
        a(href="#")
          img(src="img/netflix.png", alt="Netflix")
      li 
        a(href="#")
          img(src="img/reddit.png", alt="Reddit")
      li
        a(href="#") 
          img(src="img/amazon.png", alt="Amazon")
      li
        a(href="#") 
          img(src="img/discord.png", alt="Discord")
      li
        a(href="#")  
          img(src="img/spotify.png", alt="Spotify")
    