section(class="plans")
  div(class="container")
    div(class="plans-text")
      h3(class="title-text") Choose Your Plan
      p Let's choose the package that is best for you and explore it happily and cheerfully.
    ul(class="plans-list")
      li(class="plan-item")
        div(class="wrapper")
          div(class="item-image")
            img(src="img/plan-icon-1.jpg", alt="")
          div(class="item-text")
            h3 Free Plan
            ul 
              li 
                include ../../../img/svg/plan-vector.svg
                p Unlimited Bandwitch
              li 
                include ../../../img/svg/plan-vector.svg
                p Encrypted Connection
              li 
                include ../../../img/svg/plan-vector.svg
                p No Traffic Logs
              li 
                include ../../../img/svg/plan-vector.svg
                p Works on All Devices
        div(class="item-price")
          h3 Free 
          a(class="btn" href="#") Select

      li(class="plan-item")
        div(class="wrapper")
          div(class="item-image")
            img(src="img/plan-icon-2.jpg", alt="")
          div(class="item-text")
            h3 Standard Plan
            ul 
              li 
                include ../../../img/svg/plan-vector.svg
                p Unlimited Bandwitch
              li 
                include ../../../img/svg/plan-vector.svg
                p Encrypted Connection
              li 
                include ../../../img/svg/plan-vector.svg
                p Yes Traffic Logs
              li 
                include ../../../img/svg/plan-vector.svg
                p Works on All Devices
              li 
                include ../../../img/svg/plan-vector.svg
                p Connect Anyware
        div(class="item-price")
          h3 $9 #[span / mo]
          a(class="btn" href="#") Select

      li(class="plan-item")
        div(class="wrapper")
          div(class="item-image")
            img(src="img/plan-icon-3.jpg", alt="")
          div(class="item-text")
            h3 Premium Plan
            ul 
              li 
                include ../../../img/svg/plan-vector.svg
                p Unlimited Bandwitch
              li 
                include ../../../img/svg/plan-vector.svg
                p Encrypted Connection
              li 
                include ../../../img/svg/plan-vector.svg
                p Yes Traffic Logs
              li 
                include ../../../img/svg/plan-vector.svg
                p Works on All Devices
              li 
                include ../../../img/svg/plan-vector.svg
                p Connect Anyware
              li 
                include ../../../img/svg/plan-vector.svg
                p Get New Features
        div(class="item-price")
          h3 $12 #[span / mo]
          a(class="btn" href="#") Select