footer 
  div(class="container")
    div(class="social")
      include ../../../img/svg/header-logo.svg
      p #[span LaslesVPN] is a private virtual network that has unique features and has high security.
      ul(class="social-buttons")
        li
          a(href="#") 
            include ../../../img/svg/facebook-footer.svg
        li
          a(href="#")
            include ../../../img/svg/twitter-footer.svg
        li 
          a(href="#") 
            include ../../../img/svg/instagram-footer.svg
      p(class="copyright") ©2020LaslesVPN

    div(class="social-links")
      ul
        p Product
        li 
          a(href="#") Download
        li 
          a(href="#") Pricing
        li 
          a(href="#") Locations
        li 
          a(href="#") Server 
        li
          a(href="#") Countries 
        li 
          a(href="#") Blog
      ul
        p Engage
        li 
          a(href="#") LaslesVPN?
        li
          a(href="#") FAQ 
        li
          a(href="#") Tutorials 
        li 
          a(href="#") About Us
        li 
          a(href="#") Privacy Policy
        li 
          a(href="#") Terms of Service
      ul
        p Earn Money
        li 
          a(href="#") Affiliate
        li 
          a(href="#") Become Partner