section.feedback
  margin-top: 125px
  .heading-wrapper
    text-align: center
    margin-bottom: 20px
  ul
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 50px
    margin-top: 50px
    li
      display: flex
      flex-direction: column
      border: 2px solid #dddddd
      padding: 5px 28px
      border-radius: 10px
      line-height: 25px
      &:hover
        border: 2px solid #f53838
      .user
        display: flex
        align-items: center
        justify-content: space-between
        .user-info
          display: flex
          align-items: center
          img
            margin-right: 20px
          div
            p
              &:first-child
                color: $title-color
                font-weight: 500
                font-size: 18px
              &:last-child
                font-size: 14px
        .user-rate
          display: flex
          align-items: center
          line-height: 15px
          p
            margin-right: 12px
          svg
      .user-text
        p
          text-align: start
          color: $title-color
          margin-top: 8px

  .scroll-line
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 60px
    .scroll-buttons
      span
        display: inline-block
        background: #dde0e4
        padding: 7.5px
        border-radius: 50%
        &:first-child
          display: inline-block
          background: #f53838
          padding: 7.5px 22.5px
          border-radius: 30px
        &:not(:last-child)
          margin-right: 15px
        &:hover
          background: #f53838
        &:focus
          background: #f53838
          padding: 7.5px 22.5px
          border-radius: 30px
    .scroll-arrows
      display: flex
      align-items: center
      justify-content: space-between
      .rounded-button
        &:last-child
          transform: matrix(-1, 0, 0, 1, 0, 0)
          margin-left: 20px

@media ( max-width: 1199px )
  section.feedback
    ul
      grid-template-columns: repeat(2, 1fr)
      li:first-child
        grid-row: 1/3

@media ( max-width: 991px )
  section.feedback
    ul
      grid-template-columns: repeat(1, 1fr)
      li:first-child
        grid-row: 1/2

@media ( max-width: 575px )
  section.feedback
    .scroll-line
      padding: 0 20px
      margin-top: 30px
      .scroll-buttons
        display: flex
        flex-direction: column
        align-items: center
        span
          &:first-child
            padding: 22.5px 7.5px
          &:not(:last-child)
            margin: 0
            margin-bottom: 15px
      .scroll-arrows
        flex-direction: column
        .rounded-button
          &:first-child
            transform: rotate(90deg)
            margin-bottom: 15px
          &:last-child
            margin: 0
            transform: rotate(-90deg)

@media ( max-width: 450px )
  section.feedback
    ul
      li
        padding: 10px
    .scroll-line
      .scroll-buttons
        span
          &:not(:last-child)
            margin-bottom: 7px
